<div class="section about-section"> <!-- start .about-section -->
	<div class="section__inner">
		<h3 class="section__title">О компании «Премиал»</h3>
		<p>Компания «Премиал» реализует оптовым компаниям и мебельным предприятиям алюминиевый профиль для изготовления шкафов-купе, алюминиевый профиль для сборки и окантовки мебельных фасадов, нержавеющие кухонные мойки и смесители под собственной торговой маркой PREMIAL®.</p>
		<p>Компания работает с 2008 года.</p>
		<p>Торговая марка зарегистрирована в 2013 году. <a href="#">Торговый знак PREMIAL® со слоном</a> демонстрирует миссию и политику компании в области качества.</p>
		<p>Под торговой маркой в России продается «Система алюминиевого профиля для шкафов-купе и мебельных фасадов <a href="#">PREMIAL® aluminium profile</a>».</p>
		<p>В 2014 году в ассортимент включены «Кухонные мойки из нержавеющей стали <a href="#">PREMIAL® kitchen sinks</a>».</p>
		<p>С 2016 года под торговой маркой продаются «Смесители с высоким поворотным изливом из нержавеющей стали <a href="#">PREMIAL® kitchen faucet</a>».</p>
	</div>
</div> <!-- end .about-section -->
