<div class="section catalog-sliders"> <!-- start .catalog-sliders -->
	<div class="section__inner">
		<div class="slider slider--left" id="catalogSliderLeft"> <!-- start .slider--left -->
			<header class="slider__header">
				<a href="#" class="arrow arrow__prev"><</a>
				<h3>Мойки из нержавеющей стали</h3>
				<a href="#" class="arrow arrow__next">></a>
			</header>
			<div class="slider__body">
				<div class="slider__item"><a href="#"><img src="images/catalog/PL_3838.jpg" alt=""><span>PL 3838</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/PL_4843.jpg" alt=""><span>PL 4843</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/PL_3838.jpg" alt=""><span>PL 3838</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/PL_4843.jpg" alt=""><span>PL 4843</span></a></div>
			</div>
		</div> <!-- end .slider--left -->
		<div class="slider slider--right" id="catalogSliderRight"> <!-- start .slider--right -->
			<header class="slider__header">
				<a href="#" class="arrow arrow__prev"><</a>
				<h3>Смесители из нержавеющей стали</h3>
				<a href="#" class="arrow arrow__next">></a>
			</header>
			<div class="slider__body">
				<div class="slider__item"><a href="#"><img src="images/catalog/SPRF_2C.jpg" alt=""><span>SPRF 2C</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/SPRF_8105B.jpg" alt=""><span>SPRF 8105B</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/SPRF_2C.jpg" alt=""><span>SPRF 2C</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/SPRF_8105B.jpg" alt=""><span>SPRF 8105B</span></a></div>
			</div>
		</div> <!-- end .slider--right -->
	</div>
</div> <!-- end .catalog-sliders -->

<div class="section catalog-sliders"> <!-- start .catalog-sliders -->
	<div class="section__inner">
		<div class="slider slider--left" id="catalogSliderLeft"> <!-- start .slider--left -->
			<header class="slider__header">
				<a href="#" class="arrow arrow__prev"><</a>
				<h3>Дозаторы</h3>
				<a href="#" class="arrow arrow__next">></a>
			</header>
			<div class="slider__body">
				<div class="slider__item"><a href="#"><img src="images/catalog/doz_1.jpg" alt=""><span>DOZ 01</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/doz_2.jpg" alt=""><span>DOZ 02</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/doz_1.jpg" alt=""><span>DOZ 01</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/doz_2.jpg" alt=""><span>DOZ 02</span></a></div>
			</div>
		</div> <!-- end .slider--left -->
		<div class="slider slider--right" id="catalogSliderRight"> <!-- start .slider--right -->
			<header class="slider__header">
				<a href="#" class="arrow arrow__prev"><</a>
				<h3>Аксессуры</h3>
				<a href="#" class="arrow arrow__next">></a>
			</header>
			<div class="slider__body">
				<div class="slider__item"><a href="#"><img src="images/catalog/acc_1.jpg" alt=""><span>Accessory 01</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/acc_2.jpg" alt=""><span>Accessory 02</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/acc_1.jpg" alt=""><span>Accessory 01</span></a></div>
				<div class="slider__item"><a href="#"><img src="images/catalog/acc_2.jpg" alt=""><span>Accessory 02</span></a></div>
			</div>
		</div> <!-- end .slider--right -->
	</div>
</div> <!-- end .catalog-sliders -->