<header class="section header">
	<div class="section__inner">
		<div class="header__logo">
			<a href="index.html">
				<img class="logo__image" src="images/logo_premial_white.png" alt="Логотип Премиал">
				<p class="logo__description">Кухонные мойки и смесители из нержавеющей стали</p>
			</a>
		</div>
		<div class="header__catalog">
			<a href="catalog.html" class="btn btn--block btn--light btn--outline">Все товары</a>
		</div>
		<div class="header__links">
			<p><a href="info.html">Акции</a></p>
			<p><a href="info.html">Новинки</a></p>
			<p><a href="info.html">Новости</a></p>
		</div>
		<div class="header__contacts">
			<p class="contacts__email"><a href="mailto:tm-premial@yandex.ru">info@myPremial.ru</a></p>
			<p class="contacts__phone"><strong>8-800-222-90-37</strong></p>
			<p class="contacts__callback"><a href="#"><small>Заказать обратный звонок</small></a></p>
		</div>
	</div>
</header>