<div class="section hero-slider" id="heroSlider"> <!-- start .hero-slider -->
	<div class="hero-slider__slides">
		<div class="slider-item">
			<a href="#"><img src="images/hero_image.jpg" alt=""></a>
		</div>
		<div class="slider-item">
			<a href="#"><img src="images/hero_image.jpg" alt=""></a>
		</div>
	</div>
	<div class="hero-slider__arrows">
		<a href="#" class="arrow arrow--left">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path fill="#e61f32" d="M20 .753l-14.44 11.247 13.44 11.263-.678.737-14.322-12 15.335-12 .665.753z"/></svg>
		</a>
		<a href="" class="arrow arrow--right">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path fill="#e61f32" d="M4 .753l14.44 11.247-13.44 11.263.678.737 14.322-12-15.335-12-.665.753z"/></svg>
		</a>
	</div>
</div> <!-- end .hero-slider -->