<div class="section about-section info-page"> <!-- start .info-page -->
	<div class="section__inner">
		<div class="page__header">
			<h2 class="page__title">О торговой марке PREMIAL®</h2>
		</div>
			<p>Торговая марка PREMIAL® зарегистрирована в 2013 году. Отличительной особенностью марки стал принцип партнерства, взаимной поддержки и долгосрочных отношений, визуально воплотившийся в образе слона.</p>
			<p>Слоны — настоящие гиганты животного мира. Основательные, но подвижные. Это общительные, умные и заботливые животные. Слоны приходят друг другу на выручку в сложной ситуации и оказывают внимание даже к самым маленьким членам сообщества.</p>
			<p>Слон  не сможет жить в одиночестве, поскольку нуждается в общении со своими сородичами. Слоны приносят воду и пищу друг другу, ценят дружеское общение и слышат другого слона на многокилометровом расстоянии.</p>
			<p class="gallery">
				<a href="images/info/info-1.jpg" class="gallery__item"><img src="images/info/info-1.jpg" alt=""></a>
				<a href="images/info/info-2.jpg" class="gallery__item"><img src="images/info/info-2.jpg" alt=""></a>
			</p>
			<p>Слоны быстро учатся, испытывают чувство веселья, горя, сострадания. Слоны способны к бескорыстному сотрудничеству, в прямом смысле протягивая хобот младшему и слабому сородичу. Слоны редко проявляют агрессию и уважительно относятся к соперникам и другим животным.</p>
			<p>Образ слона в нашем логотипе — демонстрация превосходства общих усилий над индивидуализмом. Отражением  корпоративной философии «Премиал» стал слоган торговой марки.</p>
			<p class="accent">Мы твердо стоим, чтобы вы могли на нас положиться!</p>
			<p>Торговая марка PREMIAL® выступает как неотъемлемый атрибут наших продуктов. Торговый знак подтверждает принадлежность профиля, смесителей и моек к нашей компании. Значок торговой марки над логотипом выражает серьезное отношение «Премиал» к репутации и качеству продукции.</p>
			<p>Изображение слона в логотипе и написание марки — объекты защиты и принадлежат правообладателю.</p>
			<p class="gallery">
				<a href="images/info/info-3.jpg" class="gallery__item"><img src="images/info/info-3.jpg" alt=""></a>
			</p>
			<p>Использовать отличительное наименование и написание PREMIAL® в оптовой или розничной торговле, в выставочных экспозициях и рекламе шкафного и фасадного алюминиевого профиля, кухонных моек и смесителей из нержавеющей стали без разрешения компании «Премиал» — запрещено законом.</p>
	</div>
</div> <!-- end .info-page -->
