$fosizes: 14, 16, 20, 24;

$primary: #e61f32;
$secondary: #A8DADC;
$secondary: #f7ebc3;
$dark: #263238;
$light-dark: #455a64;
$light: #eceff1;

$radius: 2px;

$menu-height: 50px;
$menu-height-lg: 60px;

$bottom-widget-input-height: 40px;
$bottom-widget-input-height-lg: 50px;

$slider-header-height: 40px;
$slider-header-height-lg: 50px;

